* { margin: 0, padding: 0 }

.bg {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/90/Branched_juniper_twig_with_shots.jpg);
      /* Full height */
  height: 33%;

  /* Center and scale the image nicely */
  background-position: right;
  background-repeat: no-repeat;
  background-size: 70%;
}

body {
    color:whitesmoke;
    background-color: #19191b;
    margin: 0;
    font-family: sans-serif;
    padding: 0;
    /*padding: 30px;*/
}
/*HEADER*/

header {
    background-color: #19191b;
    line-height: 80%;
    padding: 0.1%;

}

/*MAIN*/

main {
    margin: 0;
    padding: 5px;
    /*background-color: #c3dde0;*/
    /*width: 80%;*/
}

section {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 7px;
    max-width: 300px;
    margin: auto;
}

figcaption {
    background-color: #018f77;
    color: #fff;
    font: italic smaller sans-serif;
    font-size: xx-small;
    padding: 3%;
    text-align: center;
}


h1 {
    color: #ecf1d9;
    font-size: 70px;
    text-align:left;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 3% 6%; 
}

h2 {
    color: #b6ded1;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    margin-top: 7px;
    margin-bottom: 7px;
}

h3 {
    color: #b6ded1;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    margin-top: 7px;
    margin-bottom: 7px;
}


p {
    font-size: 18px;
    text-align: justify;
    margin: 1% 1%;
}
/* Style the first letter! */
.subhead {
    initial-letter: 2
}

a {
    color: wheat;
}

a.altyazi, p.altyazi {
    max-width: 330px;
    font-size: x-small;
    text-align: right;
}

/*a:active {
    background-color: white;
}*/

a:hover {
    color: rgb(104, 224, 64);
}

a:visited {
    color: rgb(237, 18, 59); 
}

/*FOOTER*/

footer {
    font-size: 8px;
    color: #fff;
    background-color: #018f77;
    padding: 1%;
}
